h1 {
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
  color: cadetblue;
}

h2 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
  color: cadetblue;
}

h3 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
  color: cadetblue;
}

p {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/*LINKS*/

a:link {
  color: darkcyan;
  text-decoration: none;
}

a:visited {
  color: darkcyan;
}

a:hover {
  color: orangered;
  text-decoration: underline;
}

a:active {
  color: gold;
}

.related-link {
  text-transform: uppercase;
}

/*STUFF*/

.related {
  list-style: none;
}

.related-author {
  font-size: 18px;
  font-style: italic;
}