/* MAIN TEXT (BODY, HEADERS, PARAGRAPH)*/

body {
  font-family: sans-serif;
  border-top: 10px solid cadetblue; /*adds line on top of page*/
  position: relative;
}

.container { /*Centers the content*/
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: whitesmoke;
  padding: 20px, 40px;
}

aside {
  background-color: whitesmoke;
  border-top: 5px solid cadetblue;
  border-bottom: 5px solid cadetblue;
  padding: 50px 40px;
}

nav {
  font-size: 18px
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

.post-img {
  width: 100%;
  height: auto;
}

li {
  font-size: 20px;
  margin-bottom: 10px; /*adds a space betwen list items*/
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related {
  list-style: none;
}

.related-author {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

button {
  position: absolute;
  bottom: 50px;
  right: 50px;

  padding: 20px;
  font-size: 22px;
  cursor: crosshair;
}

/*LINKS*/

a:link {
  color: darkcyan;
  text-decoration: none;
}

a:visited {
  color: darkcyan;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline;
}

a:active {
  background-color: black;
  font-style: italic;
}

.related-link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
}